<%-include ("header")-%>
<h1>hey i am making another page</h1>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsam non quo pariatur exercitationem voluptatibus? Vel, dolores iure vitae, repellat quos architecto maxime eum quas sit quis veritatis voluptate placeat esse!</p>

<%-include ("footer")-%>